.display {
  background-color: black;
  color: white;
  text-align: right;
}

.resultText {
  padding: 0.3rem 0.5rem;
  margin: 2px 0;
  height: 10px;
}
.inputText {
  margin: 0;
  padding: 0.3rem 0.5rem;
}
